@tailwind base;
@tailwind components;
@tailwind utilities;


/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.horizontal-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#301dde, #0dbedd);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }
  
  .horizontal-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
  
  .horizontal-underline-active {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
